.hero__box{
  margin-top: 12px;
  margin-bottom: 46px;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}

.hero__info{
  padding-top: 68px;
  padding-left: 43px;
  padding-bottom: 85px;
}

.hero__entry{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $text-color;
  display: inline-block;
  margin-bottom: 7px;
}

.hero__title{
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 5px;

  &--green{
    color: $primary-color;
  }
}

.hero__text{
  font-size: 14px;
  line-height: 24px;
  color: $desc-color;
  margin-bottom: 44px;
}

.hero__btn{
  padding: 11px 27px 11px 26px;
  text-transform: uppercase;
}

.hero__bg-img-box{
  background-image: url("/media/images/hero-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__bg-two{
  background-image: url("/media/images/hero-bg-three.png");
}

.hero__bg-three{
  background-image: url("/media/images/hero-bg-two.png");
  background-color: transparent;
}

.hero__slider-btns{
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__slider-btn{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 0.3);
  border: none;

  &:not(:last-child){
    margin-right: 8px;
  }

  &--active{
    background-color: $primary-color;
  }
}

.carousel-indicators{
  bottom: 65px !important;
  margin: 0 !important;
}

.carousel-indicators [data-bs-target]{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 0.3);
  border: none;

  &:not(:last-child){
    margin-right: 8px;
  }

  &.active{
    background-color: $primary-color;
  }
}

@media screen and (max-width: 1400px) {
  .hero__title{
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .hero__title{
    font-size: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 992px) {
  .hero__entry{
    font-size: 12px;
  }

  .hero__title{
    font-size: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .hero__box{
    flex-direction: column;
    padding: 25px;
  }

  .hero__info{
    padding: 0;
  }

  .hero__title{
    font-size: 25px;
    line-height: 25px;
  }

  .hero__text{
    margin-bottom: 15px;
  }

  .hero__bg-img-box{
    height: 320px;
  }
}

@media screen and (max-width: 578px) {
  .hero__box{
    padding: 15px;
    text-align: center;
  }

  .hero__bg-img-box{
    height: 300px;
  }
}

